.modalContainer{
    background-color: rgb(231, 231, 231);
    width:17vw;
    position: absolute;
    left:3.8rem;
    /* height:10vh; */
    top:2.2rem;
    padding: 10px 10px;
    z-index: 999;
}
.none{
    display: none;
}
.cont{
    color:rgb(2, 95, 95);
    font-size:1.3rem;
    padding-top: 10px;
    font-weight: 500;
}